<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Scans</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
            </li>
            <li class="active">
                <strong>Scans</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List Scanning Site</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-5 m-b-xs">
                            <button class="btn btn-success" type="button"><i class="fa fa-plus"></i>&nbsp;New Scan</button>
                        </div>
                        <div class="col-sm-4 m-b-xs">

                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>IP</th>
                                    <th>Country</th>
                                    <th>Target</th>
                                    <th width="30%">Status</th>
                                    <th>Vulnerabilities</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>192.168.3.5</td>
                                    <td>United State</td>
                                    <td><a href="http://danistutorial.com/" target="_blank">http://danistutorial.com/</a></td>
                                    <td>
                                        <div class="progress progress-striped">
                                            <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="#"><span class="label label-danger">0</span></a>
                                        <a href="#"><span class="label label-warning">0</span></a>
                                        <a href="#"><span class="label label-success">0</span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
